* {
    box-sizing: border-box;
  }

  
  header {
    padding: 10px;
    background-color: #595757;
    color: white;
    height: 25%;
  }

  .page-title {
    color: antiquewhite;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.headshot {
    position: relative;
    left: -580px;
    top: -60px;
    border-radius: 25%;
    width: 8%;
    height: 8%;
    
}
  
  nav {
    display: flex;
    justify-content: flex-end;
    background-color: #2F8BBF;
    width: 100%;
  }
  
  nav a {
    color:antiquewhite;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
  
  }

  .top-image {
    width: 100%;
    height: 50%;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  aside {
    display: flex;
    flex-direction: column;
    background-color: #F0F0EA;
    border-right: 5px solid #3FC596;
    color: #3FC596;
    padding: 80px;
    text-align: left;
  }

  .about {
    position: relative;
    bottom: 55px;
    left: 70px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

  }

  .work {
    position:relative;
    left: 120px;
    top: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }

  p {
    color: #2F8BBF;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  footer {
    width: 100%;
    padding: 20px;
    background: #0D1772;
    color: white;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h3 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 110px;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

   li {
    text-decoration: none;
    justify-content: space-evenly;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
  }

  li a {
    color: white;
    text-decoration: none;

  }

  li a:hover {
    cursor: pointer;
  }
  
  .portfolio {
    flex: 4;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  
  
  .container {
    border: 2px solid #D0D1D1;
    padding: 10px;
    flex: 0 0 300px;
    margin: 20px; 
    position: relative;
    top: 60px;
  }
  

  .container-header {
    padding: 20px;
    background-color: beige;
    color: #2F8BBF;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  

  
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
  